/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
:root{


  --body-background: #f8f8f8;
  --body-color:  #000000;
  --card-background: #686868;
  --card-color: #c9c9c9;
  --footer-background: #414141;
  --nav-background: #414141;
  --nav-color: #c9c9c9;
  --search-background: #5f5f5f;
  --search-color: #414141;
 /* --link-color:navy;*/
  /*--link-color:navy;*/
}
[data-theme="dark"]{
  --body-background: #121212;
  --body-color: #ccc;
  --card-background: #272727;
  --card-color: #ccc;
  --footer-background: #2c2c2c;
  --nav-background: #ffff;
  --nav-color: #121212;
  --search-background: #ccc;
  --search-color: #E7F2F1;
}

/* Typography */
body {
  /*font-family: 'Roboto', sans-serif;*/
  color:var(--body-color);
  background-color:var(--body-background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  margin-top: 50px;
}

.search-input {
  padding: 15px;
  margin: 25px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid var(--search-background);
}
.search-input input{
  width: 98%;
  height: 100%;
  font-size: 20px;
  border: none;
  background: transparent;
  outline: none;

  color:var(--search-color);

}

/* Genre and Filter Bar Styles */
.filter-bar {
  display: flex;
  justify-content: right;
}

.filter-slot {
  background-color: var(--footer-background);
  padding: 0 25px;
  margin: 10px;
  border-radius: 50px;
}

.filter-dropdown {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Movies Grid Styles */
.movies-grid, .watchlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 2rem 2rem;  
  padding: 1rem;
  justify-content: center;
}

/* Movie Card Styles */
.movie-card {
  background-color: var(--card-background);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
  color:var(--card-color);

}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  width: 250px;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.movie-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.movie-card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.movie-card-rating {
  font-size: 0.9rem;
  font-weight: bold;
  background:#141414;
  padding: 3px 10px;
  margin: 0 auto;
  width: 50px;
  border-radius: 50px;
}

.movie-card-genre {
  font-size: 0.9rem;
  margin-right: 10px;
}

/* Watchlist Button Styles */
.watchlist-btn {
  border: none;
  background: #2196F3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


/* Footer Styles */
.footer {
  margin-top: 100px;
  background-color: var(--footer-background);
  padding: 1rem;
  text-align: center;
  /*margin-top: 25%; */
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.rating-good {
  color: rgb(148, 255, 105);
}

.rating-ok {
  color: rgb(255, 209, 123);
}

.rating-bad {
  color: rgb(255, 123, 123);
}

.title {
  text-align: center;
  margin: 25px 0;
}

.logo {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.app-subtitle {
  text-align: center;
  margin: 25px auto;
  font-weight: 300;
}

nav {
  margin-top: 50px;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;  
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}
nav{
  padding: 10px;
}
nav a {
  color: var(--nav-color);
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 50px;
  background-color: var(--nav-background);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

nav a:hover {
  background-color: #d3d3d3;
  color: black;
}

.switch {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  width: 150px; /* Width large enough to fit the label text */
  height: 24px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider-label {
  color: #fff; 
  font-size: 12px; 
  width: 100%; 
  line-height: 24px; 
  transition: opacity 0.4s ease; 
}

input:checked + .slider:before {
  transform: translateX(125px); /* Move the circle to the other side */
}

input:checked + .slider {
  background-color: #FFA100;
}
.empty-card {
  padding: 2rem;
  text-align: center;
  width: 250px;
  height: 500px;
}
/*dark and light mode*/
.dark_mode {
  padding: 10px 90.5%;
  margin: 0px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}
